keras
numpy<2.0.0  # TODO(nabe): Remove this constraint once this issue is resolved. https://github.com/numpy/numpy/issues/26710
optuna
tensorflow-cpu<2.19.0  # TODO(y0z): remove the version constraint <2.19.0 after resolve the CI issue (cf. #304)
tensorflow-datasets
