# TODO(himkt) Remove jax after the next version of chex is released.
# https://github.com/google/jax/issues/10331
# https://github.com/deepmind/chex/issues/156
jax==0.3.6

dm-haiku
numpy
optax
tensorflow
tensorflow-datasets
