name: mxnet

on:
  schedule:
    - cron: '0 15 * * *'
  pull_request:
    paths:
      - 'mxnet/**'
      - '.github/workflows/mxnet.yml'

jobs:
  examples:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]

    # if: github.repository == 'optuna/optuna-examples'
    steps:
    - uses: actions/checkout@v2
    - name: setup-python${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install (apt)
      run: |
        sudo apt-get update
        sudo apt-get -y install libopenblas-dev
    - name: Install (Python)
      run: |
        python -m pip install --upgrade pip
        pip install --progress-bar off -U setuptools
        pip install git+https://github.com/optuna/optuna.git
        python -c 'import optuna'

        pip install -r mxnet/requirements.txt
    - name: Run examples
      run: |
        python mxnet/gluon_simple.py
        python mxnet/mxnet_simple.py
        python mxnet/mxnet_integration.py
      env:
        OMP_NUM_THREADS: 1
