name: pytorch

on:
  schedule:
    - cron: '0 15 * * *'
  pull_request:
    paths:
      - 'pytorch/**'
      - '.github/workflows/pytorch.yml'

jobs:
  examples:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]

    steps:
    - uses: actions/checkout@v2
    - name: setup-python${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install (apt)
      run: |
        sudo apt-get update
        sudo apt-get -y install openmpi-bin libopenmpi-dev
    - name: Install (Python)
      run: |
        python -m pip install --upgrade pip
        # TODO(nzw0301): remove setuptools version constraint after resolving https://github.com/mpi4py/mpi4py/issues/157
        pip install --progress-bar off -U "setuptools<60.1.0"
        pip install git+https://github.com/optuna/optuna.git
        python -c 'import optuna'

        pip install -r pytorch/requirements.txt
    - name: Run PyTorch examples
      run: |
        python pytorch/pytorch_simple.py
      env:
        OMP_NUM_THREADS: 1
    - name: Run PyTorch checkpoint example
      run: |
        set +e
        timeout 20 python pytorch/pytorch_checkpoint.py > /dev/null
        set -e
        python pytorch/pytorch_checkpoint.py > /dev/null
      env:
        OMP_NUM_THREADS: 1
    - name: Run multi-node examples
      run: |
        STORAGE_URL=sqlite:///example.db
        mpirun -n 2 -- python pytorch/pytorch_distributed_simple.py
      env:
        OMP_NUM_THREADS: 1
    - name: Run PyTorch Ignite examples
      run: |
        python pytorch/pytorch_ignite_simple.py
      env:
        OMP_NUM_THREADS: 1
    - name: Run PyTorch Lightning examples
      run: |
        python pytorch/pytorch_lightning_simple.py
      env:
        OMP_NUM_THREADS: 1
